@import url('https://fonts.googleapis.com/css?family=Lora');
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
} 

.container {
    position: fixed;
}

.header {
	position:absolute;
	width: 100%
	text-align: left;
	top: 60%

	background-color: #142952;
    background-opacity:50%;
    color: #cccccc;	
}

.story {
	position:absolute;
	width: 100%
	text-align: left;
	top: 65%

	background-color: #142952;
    background-opacity:50%;
	color: #cccccc;	
	font-size: 18px;
}

.bottomright {
	background-color: #142952;
    background-opacity:50%;
    position: absolute;
    bottom: 2.5%

    text-align: right;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
}

img {
    position: fixed;
    top: 50%;
    z-index: -1;
}
/*.header, .footer {
    background-color: #142952;
    background-opacity:50%;
    color: #cccccc;
}

}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.content {
    width: 85%;
}
.menu ul {
    list-style-type: none;
}
.menu li {
    float: right;
    padding: 8px;
    margin-bottom: 8px;
    background-color: #142952;
    color: #cccccc;
}
.menu li a:hover {
    color:white;
	font-weight: bold;
}*/

