
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
} 

.container {
    position: relative;
}

.storybox {
    position: absolute;
    background-color: #1a1a1a;
    left: 1%;
    height: 27.5%;
    width: 98%; 
    bottom: 1%;
    padding: 1%;
}

.paragraphbox {
    background-color: #333333;
    height: 70%;
    width: 100%;    
    bottom: 1%;
    padding: 1%;
}

.bottomright {
    color:#cccccc;"
    position: absolute;
    width: 98%;
    height: 20%;
    right: 1%;
    bottom:1%;
}

.bottomright ul {
    list-style-type: none;
    overflow: hidden;
    position: relative;
    bottom: 90%;
}

.bottomright li {   
    float: right;
    padding: 1.5%; 
}

.bottomright li a {
    display: block;
    color: #a6a6a6;
    text-align: center;
    text-decoration: none;
}

.bottomright li a:hover {
    color:white;
}


img {
    display: block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}
